<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocalPlist_Version</key>
	<string>36</string>
	<key>TabItem_titles</key>
	<array>
		<string>首页</string>
		<string>鲜果切</string>
		<string>购物车</string>
		<string>我</string>
	</array>
	<key>String_Feature_Nav_Title</key>
	<string>银联钱包</string>
	<key>String_HotBillListSize</key>
	<string>10</string>
	<key>String_Coupon_Nav_Title</key>
	<string>银联优惠</string>
	<key>String_LifeStyle_Nav_Title</key>
	<string>银联生活</string>
	<key>String_Cards_Nav_Title</key>
	<string>银联卡包</string>
	<key>String_AddCard_Nav_Title</key>
	<string>关联已有卡</string>
	<key>String_AppMgr_Navi_Title</key>
	<string>添加应用列表</string>
	<key>String_AddCard_Btn</key>
	<string>添加银行卡</string>
	<key>String_Commit</key>
	<string>提交</string>
	<key>String_CardDetail_Demo</key>
	<string>此卡片为演示，使用卡片请</string>
	<key>String_AddCard_Next</key>
	<string>下一步</string>
	<key>String_AddCard_Card_Number</key>
	<string>卡号</string>
	<key>String_AddCard_Card_Number_Placeholder</key>
	<string>银行卡号</string>
	<key>String_UnbindSuccess</key>
	<string>卡片解绑成功</string>
	<key>String_Card_Number_Invalid</key>
	<string>请输入正确的银行卡号</string>
	<key>String_IDCard_Number_Invalid</key>
	<string>请输入正确的证件号码</string>
	<key>String_No_Card_Rules</key>
	<string>没有相关记录</string>
	<key>String_Cannnot_Unbind_Demo_Card</key>
	<string>无法卸载演示卡</string>
	<key>String_Card_Send_SMS</key>
	<string>发送短信</string>
	<key>String_Cards_SMS_Service_Nav_Title</key>
	<string>短信服务</string>
	<key>String_Card_Unbind_Prompt</key>
	<string>确定卸载当前银行卡？</string>
	<key>String_URL_Not_Available</key>
	<string>网页地址错误</string>
	<key>String_MessageNotSupport</key>
	<string>该设备不支持短信功能</string>
	<key>String_Navi_Search</key>
	<string>搜索</string>
	<key>String_Navi_Shanghai</key>
	<string>上海</string>
	<key>String_Msg_Internal_Error</key>
	<string>报文组织内部错误</string>
	<key>String_Msg_Resend_Error</key>
	<string>消息发送失败 (GetKey)</string>
	<key>String_Network_Error</key>
	<string>网络异常</string>
	<key>String_JSON_Error</key>
	<string>加载失败</string>
	<key>String_Bill_Coming_Soon</key>
	<string>敬请期待</string>
	<key>String_Bill_Sold_Out</key>
	<string>已抢完</string>
	<key>String_Empty_Data</key>
	<string>服务器没有返回数据</string>
	<key>String_Loading</key>
	<string>加载中...</string>
	<key>String_City_Not_Support</key>
	<string>%@，暂未开通银联钱包服务</string>
	<key>String_Switching_City</key>
	<string>正在切换</string>
	<key>String_Alert_Title_Prompt</key>
	<string>提示</string>
	<key>String_Sure</key>
	<string>确定</string>
	<key>String_Cancel</key>
	<string>取消</string>
	<key>String_Switch_City</key>
	<string>系统定位您在%@，是否切换？</string>
	<key>String_UserNameInvalid</key>
	<string>用户名格式不正确</string>
	<key>String_City_List_Title</key>
	<string>城市列表</string>
	<key>String_Back</key>
	<string>返回</string>
	<key>String_Update_Now</key>
	<string>立即升级</string>
	<key>String_Sys_Init_Error</key>
	<string>哎呀，您的网络似乎有问题，请轻击屏幕重试</string>
	<key>String_Close</key>
	<string>关闭</string>
	<key>String_Navi_Card_Detail</key>
	<string>卡详情</string>
	<key>String_URL_OrderRule</key>
	<string>/config/order_condition.json</string>
	<key>String_URL_Config</key>
	<string>/config/UPXLocalize.plist</string>
	<key>String_URL_PromotionRule</key>
	<string>/config/umpay_condition.json</string>
	<key>String_URL_WXShare1_Format</key>
	<string>/web/%s/page/share/wxshare1.html</string>
	<key>String_URL_WXShare2_Format</key>
	<string>/web/%s/page/share/wxshare2.html</string>
	<key>String_URL_Register_Format</key>
	<string>/web/%s/page/register/ways.html</string>
	<key>String_URL_Reset_Format</key>
	<string>/web/%s/page/find_password/username.html</string>
	<key>String_URL_Help_Format</key>
	<string>/web/%s/page/help/list.html</string>
	<key>String_URL_Bank_Format</key>
	<string>/web/%s/page/banks/creditCard_support.html</string>
	<key>String_URL_QR_AfterQrScanSuccessed</key>
	<string>https://qr.95516.com/b2c/qrcode/notifyOrderScanned.action?tn=</string>
	<key>String_URL_QR_AfterPaySuccessed</key>
	<string>https://qr.95516.com/b2c/qrcode/notifyTransDone.action?tn=</string>
	<key>String_URL_TradeTypes</key>
	<string>/config/trans_condition.json</string>
	<key>kStrReSMS</key>
	<string>(%@秒)重新获取</string>
	<key>kStrGeneralDetail</key>
	<string>详情</string>
	<key>String_Location_No_City_Name</key>
	<string>定位失败, 无城市名</string>
	<key>kStrCouponDetail</key>
	<string>优惠详情</string>
	<key>kStrETicketDetail</key>
	<string>电子票详情</string>
	<key>kStrRebateDetail</key>
	<string>积分券详情</string>
	<key>kStrMerchantDetail</key>
	<string>商户详情</string>
	<key>kStrActivityDetail</key>
	<string>活动详情</string>
	<key>kStrSecKillDetail</key>
	<string>优惠详情</string>
	<key>kStrFreshMenUsage</key>
	<string>新手必备</string>
	<key>kStrActivityList</key>
	<string>活动专区</string>
	<key>kStrMerchantList</key>
	<string>支持门店</string>
	<key>kStrCommentList</key>
	<string>全部评论</string>
	<key>kStrAppVersionDetail</key>
	<string>详细</string>
	<key>kStrUnSaveFavorite</key>
	<string>取消收藏</string>
	<key>kStrSaveFavorite</key>
	<string>收藏商户</string>
	<key>kStrUserRating</key>
	<string>发表评论</string>
	<key>kStrSuccess</key>
	<string>成功</string>
	<key>kStrFail</key>
	<string>失败</string>
	<key>kStrShare</key>
	<string>分享</string>
	<key>kStrWeixin</key>
	<string>微信好友</string>
	<key>kStrWeixinGroup</key>
	<string>朋友圈</string>
	<key>kStrSinaWeibo</key>
	<string>新浪微博</string>
	<key>kStrSms</key>
	<string>信息</string>
	<key>kStrShareSuccess</key>
	<string>分享成功</string>
	<key>kStrShareFail</key>
	<string>分享失败</string>
	<key>kStrInstallWeiboTips</key>
	<string>您需要先安装新浪微博客户端或者在系统（设置/新浪微博）里面添加账号以后才能分享！</string>
	<key>kStrLoadingInProgress</key>
	<string>页面加载中...</string>
	<key>kStrPhoneCalling</key>
	<string>呼叫:%@</string>
	<key>kStrFailMapDuesToInvalidGps</key>
	<string>商家地址无效，无法使用地图展示！</string>
	<key>kStrCannotShareTips</key>
	<string>您需要安装微信或者微博才能够进行分享。</string>
	<key>String_Query</key>
	<string>查询</string>
	<key>String_Done</key>
	<string>完成</string>
	<key>String_CityListNavTitle</key>
	<string>城市列表</string>
	<key>String_PublicPayArea</key>
	<string>地区</string>
	<key>String_PublicPayCompany</key>
	<string>公司</string>
	<key>String_PublicPayRemindDay</key>
	<string>日期</string>
	<key>String_PublicPayPerMonth</key>
	<string>每月</string>
	<key>String_PublicPayDay</key>
	<string>日</string>
	<key>String_PublicPayHistory</key>
	<string>历史查询</string>
	<key>String_SettingRemindDay</key>
	<string>定期提醒</string>
	<key>String_HotBill_Section</key>
	<string>热门推荐</string>
	<key>String_CityListSearchBarPlaceHolder</key>
	<string>请输入城市</string>
	<key>kStrBillNotInWallet</key>
	<string>未放入</string>
	<key>kStrBillInWallet</key>
	<string>已放入</string>
	<key>kStrDownloadSuccess</key>
	<string>优惠券已下载</string>
	<key>kStrDownloadSuccessWallet</key>
	<string>优惠券已放入您的银联钱包</string>
	<key>kStrDownloadFailed</key>
	<string>无法下载，请添加银行卡</string>
	<key>kStrDownloadFailedWallet</key>
	<string>不能放入钱包，请添加银行卡</string>
	<key>kStrBindCardRedTips</key>
	<string>请添加银行卡以使用优惠券</string>
	<key>String_Locating</key>
	<string>正在定位...</string>
	<key>String_LocationDisable</key>
	<string>请在设置中打开银联钱包的定位服务</string>
	<key>String_LocationFailed</key>
	<string>定位失败</string>
	<key>String_LocationFailed_TapRefresh</key>
	<string>GPS定位失败，点击刷新您的位置。</string>
	<key>String_UpdateNow</key>
	<string>立即更新</string>
	<key>String_UpdateLater</key>
	<string>稍候再说</string>
	<key>kStrDownloadCoupon</key>
	<string>以放入优惠券</string>
	<key>kStrSupportAllCards</key>
	<string>本券支持全部银行卡（储蓄卡和信用卡）</string>
	<key>kStrBindCardAction</key>
	<string>立即添加</string>
	<key>kStrGiveupCoupon</key>
	<string>稍后添加</string>
	<key>kStrBenQuan</key>
	<string>本券</string>
	<key>kStrBenPiao</key>
	<string>本票</string>
	<key>kStrCoupon</key>
	<string>优惠券</string>
	<key>kStrETicket</key>
	<string>电子票</string>
	<key>kStrRebate</key>
	<string>积分券</string>
	<key>kStrSupportedCardNumber</key>
	<string>当前已有%@张银行卡可使用本券</string>
	<key>kStrSupportedCardNumberWallet</key>
	<string>当前钱包中已有%@张银行卡可使用本券</string>
	<key>kStrBtnISee</key>
	<string>知道了</string>
	<key>kstrSeeMoreDetai</key>
	<string>查看更多%@详情</string>
	<key>kstrCouponEffectiveFrom</key>
	<string>生效日期：%@</string>
	<key>kstrCouponStartFrom</key>
	<string>有效期：%@ - %@ </string>
	<key>kstrCouponUseTime</key>
	<string>使用日期：%@</string>
	<key>kstrCouponDeadline</key>
	<string>有效期至：%@</string>
	<key>kstrCouponEndWith</key>
	<string>有效期结束：%@</string>
	<key>kstrCouponTransVaue</key>
	<string>交易金额：%@</string>
	<key>kstrCouponExpireDays</key>
	<string>%@天后过期</string>
	<key>kstrCouponBillDetail</key>
	<string>下载本优惠券并在截止日期前到店刷银联钱包中任意一张银行卡，在参加活动的门店单笔刷卡消费%@</string>
	<key>kstrCouponUsage</key>
	<string>无需打印、出示、持%@中任意一张银行卡到店消费，刷卡前告知收银员您使用银联钱包优惠券。</string>
	<key>kstrCouponNoCardBinding</key>
	<string>当前没有可使用该优惠券的银行卡</string>
	<key>kstrCouponNoCardBindingWallet</key>
	<string>当前钱包中没有可使用该优惠券的银行卡</string>
	<key>kstrCouponAddCardBinding</key>
	<string>添加银行卡</string>
	<key>kStrGewala</key>
	<string>来自格瓦拉</string>
	<key>kStrGewalaBenefit</key>
	<string>持任意银联钱包中的银行卡进场刷卡，不用排队等候。</string>
	<key>kStrMoneyFree</key>
	<string>免费</string>
	<key>kStrTPlusCouponTips</key>
	<string>该券暂未生效，今天不能使用。</string>
	<key>kStrGeWaLaSeatReqFailed</key>
	<string>获取电影票座位信息失败。</string>
	<key>String_PleaseWaiting</key>
	<string>正在请求服务器</string>
	<key>String_PublicPayQueryResult</key>
	<string>查询结果</string>
	<key>String_PublicPayConfirmPay</key>
	<string>确认支付</string>
	<key>String_PublicPayNoHistory</key>
	<string>没有历史缴费信息</string>
	<key>kStrMap</key>
	<string>地图</string>
	<key>kStrNaviApple</key>
	<string>使用苹果自带地图导航</string>
	<key>kStrNaviGaode</key>
	<string>使用高德地图导航</string>
	<key>kStrNaviBaidu</key>
	<string>使用百度地图导航</string>
	<key>kStrNaviGoogle</key>
	<string>使用Google Maps导航</string>
	<key>kStrComingSoon</key>
	<string>敬请期待!</string>
	<key>kStrNoContent</key>
	<string>无内容</string>
	<key>kStrCouponNoContent</key>
	<string>无符合条件的优惠</string>
	<key>kStrTapRetry</key>
	<string>轻触刷新</string>
	<key>kStrSystemError</key>
	<string>系统错误</string>
	<key>kStrNetstatusError</key>
	<string>网络连接错误, 请检查网络</string>
	<key>kStrFormatStoreCommonUse</key>
	<string>(%@店通用)</string>
	<key>kStrClearSearchHistory</key>
	<string>清空搜索记录</string>
	<key>kStrSearchPlaceHolder</key>
	<string>输入商户名称</string>
	<key>kStrMyFootPrint</key>
	<string>我的足迹</string>
	<key>kStrMyExpense</key>
	<string>我的花销</string>
	<key>String_HuaXiao_Analysis</key>
	<string>花销分析</string>
	<key>kStrMyGame</key>
	<string>我也是壕</string>
	<key>kTitleLogin</key>
	<string>登录</string>
	<key>kTitleLoginOrRegister</key>
	<string>登录/注册</string>
	<key>kBtnRegister</key>
	<string>注册新用户</string>
	<key>kPhdLoginUsr</key>
	<string>手机号/邮箱/用户名</string>
	<key>kPhdPwd</key>
	<string>密码</string>
	<key>kPhdLoginPwd</key>
	<string>登录密码</string>
	<key>kBtnCancel</key>
	<string>取消</string>
	<key>kBtnLogin</key>
	<string>登录</string>
	<key>kBtnFindPwd</key>
	<string>忘记密码</string>
	<key>kBtnQuestion</key>
	<string>遇到问题?</string>
	<key>kStrSessionTimeoutTips</key>
	<string>您长时间没有操作，为了您账号信息的安全，请重新登录。</string>
	<key>kStrWaiting</key>
	<string>请稍候...</string>
	<key>kStrAlertTitlePrompt</key>
	<string>提示</string>
	<key>kStrBindPhoneAlert</key>
	<string>请绑定您的手机号，开通银联钱包服务</string>
	<key>kStrBindLater</key>
	<string>稍后再说</string>
	<key>kStrBindNow</key>
	<string>现在就去</string>
	<key>kStrLengthSameError</key>
	<string>%@长度为%ld位</string>
	<key>kStrLengthMinMaxError</key>
	<string>%@最少%ld位，最多%ld位</string>
	<key>kTitleRegister</key>
	<string>用户注册</string>
	<key>kPhdPhone</key>
	<string>手机号码</string>
	<key>kPhdLoginCode</key>
	<string>验证码</string>
	<key>kPhdSmsCode</key>
	<string>短信验证码</string>
	<key>kBtnSmsCode</key>
	<string>获取验证码</string>
	<key>kPhdPwdTip</key>
	<string>密码(需由6－16位数字、字母、字符组成)</string>
	<key>kPhdPwd2</key>
	<string>确认密码</string>
	<key>kStrRegAgree</key>
	<string>我已阅读并同意</string>
	<key>kStrUnionPayServiceProtocal</key>
	<string>银联用户服务协议</string>
	<key>kErrFmtPhone</key>
	<string>手机号不正确</string>
	<key>kErrFmtPwd</key>
	<string>密码需由6-16位数字、字母、字符组成</string>
	<key>kErrFmtPwd2</key>
	<string>两次输入的密码不一致</string>
	<key>kStrRegAgreeProtocal</key>
	<string>请阅读并同意银联用户服务协议</string>
	<key>kStrRegSuccess</key>
	<string>用户注册成功</string>
	<key>kStrBindPhoneTile</key>
	<string>绑定手机</string>
	<key>kStrBindPhoneNumber</key>
	<string>请绑定您的手机号，开通银联钱包服务。</string>
	<key>kStrBindComfirm</key>
	<string>确定</string>
	<key>String_QrCode_Nav_Title</key>
	<string>扫一扫</string>
	<key>String_MyOrder_Nav_Title</key>
	<string>我的订单</string>
	<key>String_CheckBillOrder_Nav_Title</key>
	<string>账单查询</string>
	<key>String_OrderDetail_Nav_Title</key>
	<string>订单详情</string>
	<key>String_Unit_RMB</key>
	<string>元</string>
	<key>String_DateFormat_YearMonth</key>
	<string>%@年%@月</string>
	<key>String_DateFormat_Year</key>
	<string>%@年</string>
	<key>String_DateFormat_Month</key>
	<string>%@月</string>
	<key>String_OrderDetail_CompanyName</key>
	<string>公司</string>
	<key>String_OrderDetail_Number</key>
	<string>缴费号码</string>
	<key>String_OrderDetail_Amount</key>
	<string>金额</string>
	<key>String_OrderDetail_OrderNumber</key>
	<string>订单号</string>
	<key>String_OrderDetail_OrderTime</key>
	<string>订单时间</string>
	<key>String_OrderDetail_Status</key>
	<string>订单状态</string>
	<key>String_EnsureToPayBtnTitle</key>
	<string>确认支付</string>
	<key>kTitleMore</key>
	<string>更多</string>
	<key>String_PublicPayMulitBillAmount</key>
	<string>账单金额</string>
	<key>String_PublicPayYuan</key>
	<string>元</string>
	<key>String_CreditRepayment</key>
	<string>信用卡还款</string>
	<key>String_OtherCreditRepayment</key>
	<string>给其他信用卡还款</string>
	<key>String_CreditCardInputNum</key>
	<string>请输入信用卡卡号</string>
	<key>String_CreditCardRepaymentMoney</key>
	<string>还款金额（元）</string>
	<key>String_CreditCardSure</key>
	<string>确认支付</string>
	<key>String_CreditMoneyCannotBe0</key>
	<string>金额必须大于最小还款额</string>
	<key>String_CreditCardError</key>
	<string>卡号格式不正确</string>
	<key>String_CreditCardNotSupport</key>
	<string>该卡不支持还款</string>
	<key>String_FeedBackPlaceholder</key>
	<string>您对我们产品有任何的意见，欢迎与我们取得联系，谢谢您的支持。</string>
	<key>kStrAbout</key>
	<string>关于我们</string>
	<key>kStrCopyRight</key>
	<string>版权所有：中国银联股份有限公司</string>
	<key>String_More_Push_Setting</key>
	<string>推送消息设置</string>
	<key>String_More_Clear_Private_Data</key>
	<string>清理隐私数据</string>
	<key>String_More_Help</key>
	<string>使用帮助</string>
	<key>String_More_Feedback</key>
	<string>意见反馈</string>
	<key>String_More_Bar_Code</key>
	<string>告诉朋友</string>
	<key>String_More_About</key>
	<string>关于我们</string>
	<key>String_More_App</key>
	<string>应用推荐</string>
	<key>String_CreditCardSupportBankList</key>
	<string>支持银行列表</string>
	<key>kStrAlertClearAllCache</key>
	<string>清理隐私数据会删除所有用户个性化信息，包括您设置的手势密码、缴费历史记录等，并退出登录，是否继续？</string>
	<key>kBtnSure</key>
	<string>确定</string>
	<key>kBtnContinue</key>
	<string>继续</string>
	<key>kSelecteNO</key>
	<string>nonSelected</string>
	<key>kSelectedYES</key>
	<string>selected</string>
	<key>kStrFormatExpired</key>
	<string>%@天后过期</string>
	<key>kStrPrice</key>
	<string>价格：%@元</string>
	<key>kStrEdite</key>
	<string>编辑</string>
	<key>kStrDone</key>
	<string>完成</string>
	<key>kStrCancel</key>
	<string>取消</string>
	<key>kStrUnused</key>
	<string>未使用</string>
	<key>kStrUsed</key>
	<string>已使用</string>
	<key>kStrExpired</key>
	<string>已过期</string>
	<key>kTitleMyDownload</key>
	<string>我的票券</string>
	<key>kBtnDel</key>
	<string>删除</string>
	<key>kStrClearForExpired</key>
	<string>过期一个月后的优惠券将被清理</string>
	<key>kStrFormatNoContentUnusedTitle</key>
	<string>暂无未使用票券</string>
	<key>kStrFormatNoContentUsedTitle</key>
	<string>暂无已使用票券</string>
	<key>kStrFormatNoContentExpiredTitle</key>
	<string>暂无已过期票券</string>
	<key>kStrNoContentUnusedMsg</key>
	<string>赶快去体验下吧</string>
	<key>kStrNoContentUsedMsg</key>
	<string>去看看最新的优惠吧</string>
	<key>kStrNoContentExpiredMsg</key>
	<string>您没有浪费任何一次优惠</string>
	<key>kStrPageSize</key>
	<string>10</string>
	<key>kStrFormatPoint</key>
	<string>%@分</string>
	<key>kStrPointOverView</key>
	<string>积分概览：</string>
	<key>kTitleMyPoint</key>
	<string>我的积分</string>
	<key>kTitlePointRecord</key>
	<string>积分记录</string>
	<key>kStrAll</key>
	<string>全部</string>
	<key>kStrOut</key>
	<string>已使用</string>
	<key>kStrIn</key>
	<string>已获取</string>
	<key>kStrFormatIncrease</key>
	<string>+%@积分</string>
	<key>kStrFormatDecrease</key>
	<string>-%@积分</string>
	<key>kStrFormatTransValue</key>
	<string>交易金额：%@元</string>
	<key>String_More_Rating_Me</key>
	<string>给我评价</string>
	<key>String_Feed_Back_Place_Holder</key>
	<string>请输入您的反馈意见，谢谢您的支持。</string>
	<key>String_Send</key>
	<string>发送</string>
	<key>kTitleFavoritMerchant</key>
	<string>收藏的商户</string>
	<key>kStrNoFavoritMerchantTitle</key>
	<string>暂无收藏的商户</string>
	<key>kStrNoFavoritMerchantMsg</key>
	<string>快去收藏自己喜欢的商户</string>
	<key>kTitleCardCoupon</key>
	<string>支持的优惠</string>
	<key>kStrUserFeedbackSuccess</key>
	<string>发送成功</string>
	<key>kStrBtnDoneAtOnce</key>
	<string>立即关联</string>
	<key>String_Foot_Print_Tips</key>
	<string>关联银行卡即可查看该卡6个月线下消费足迹</string>
	<key>String_Hua_Xiao_Tips</key>
	<string>关联银行卡即可查看该卡6个月的历史花销记录</string>
	<key>String_CardNo</key>
	<string>卡号: </string>
	<key>String_Card_PhoneNumberDoNotAllowEmpty</key>
	<string>手机号码不能为空</string>
	<key>String_Card_Sup_Pay</key>
	<string>支付</string>
	<key>String_Card_Sup_Coupon</key>
	<string>优惠</string>
	<key>String_Card_Open_Real_Hint</key>
	<string>实名认证享受完整功能  </string>
	<key>String_Card_Open_Real_Btn</key>
	<string>立即认证</string>
	<key>String_MobileNumError</key>
	<string>暂不支持此号码充值</string>
	<key>String_Mobile_Format_Error</key>
	<string>请输入正确的手机号码</string>
	<key>String_Card_GetSMSVerificationCode</key>
	<string>获取验证码</string>
	<key>String_Card_ResendSMSVerificationCode</key>
	<string>重发</string>
	<key>String_AddCardSucceed</key>
	<string>关联成功</string>
	<key>String_Card_Open_Real_Success</key>
	<string>认证成功</string>
	<key>String_PatternUnLock</key>
	<string>手势解锁</string>
	<key>String_SetPatternLock</key>
	<string>设置手势密码</string>
	<key>String_AfreshSetPattern</key>
	<string>重新设置手势</string>
	<key>String_SkipSetPattern</key>
	<string>暂不设置</string>
	<key>String_OtherAccountLogin</key>
	<string>登录其他账户</string>
	<key>String_ForgotPattern</key>
	<string>忘记手势密码</string>
	<key>String_SetPatternSucceed</key>
	<string>设置成功</string>
	<key>String_ForgotPatternTip</key>
	<string>忘记手势密码，需重新登录</string>
	<key>String_AfreshLogin</key>
	<string>重新登录</string>
	<key>String_ErrorTryIsNotAllowTip</key>
	<string>你已连续5次输错手势，手势解锁已关闭，请重新登录。</string>
	<key>String_DrawPattern</key>
	<string>绘制解锁图案</string>
	<key>String_RepeatDrawPattern</key>
	<string>再次绘制解锁图案</string>
	<key>String_UnsamePreviousPattern</key>
	<string>与上一次绘制不一致，请重新绘制</string>
	<key>String_PatternErrorTip</key>
	<string>密码错误，还可以再输入%d次</string>
	<key>String_PatternRuleTip</key>
	<string>至少连接4个点，请重新输入</string>
	<key>String_AlterSucceed</key>
	<string>修改成功</string>
	<key>String_Register</key>
	<string>注册</string>
	<key>String_ResetPassword</key>
	<string>找回密码</string>
	<key>String_LocalTimeoutInterval</key>
	<string>300</string>
	<key>String_CheckVersionTimeoutInterval</key>
	<string>3600</string>
	<key>String_PushNoAllowed</key>
	<string>请到&quot;设置-&gt;通知&quot;中打开</string>
	<key>kStrTransTypePurchase</key>
	<string>消费</string>
	<key>kStrTransTypeReturn</key>
	<string>退货</string>
	<key>kStrTransTypeWithdrawCash</key>
	<string>取现</string>
	<key>kStrTransTypePointPurchase</key>
	<string>积分消费</string>
	<key>kStrTransTypeCreditRepayment</key>
	<string>信用卡还款</string>
	<key>kStrTransTypeTransfer</key>
	<string>转账</string>
	<key>kStrCardRecordDeclare</key>
	<string>完整交易记录，请以银行对账单为准</string>
	<key>String_HuaxiaoTips</key>
	<string>完整消费记录，请以银行对账单为准</string>
	<key>kTitleDetail</key>
	<string>交易记录详情</string>
	<key>kTitleCardRecord</key>
	<string>交易记录</string>
	<key>kTitleCardRecordQuery</key>
	<string>交易记录查询</string>
	<key>kStrRMB</key>
	<string>%@元</string>
	<key>kTitleDeductionDetail</key>
	<string>返现详情</string>
	<key>kBtnSelectDeduction</key>
	<string>我要返现</string>
	<key>kTitlePointDeduction</key>
	<string>积分返现</string>
	<key>kBtnDeductionConfirm</key>
	<string>确认返现</string>
	<key>kStrPointDeduction</key>
	<string>积分返现</string>
	<key>kStrAlertDeductionSucceed</key>
	<string>返现成功，返现金额将在24小时后到账。</string>
	<key>String_PublicPayNavTitleBillDetail</key>
	<string>详细信息</string>
	<key>String_PublicPayPrice</key>
	<string>售价：</string>
	<key>String_NoticeOfQr</key>
	<string>请扫描银联在线支付二维码</string>
	<key>String_WechatTitle</key>
	<string>银联随行，刷卡享优惠。</string>
	<key>String_WechatTitleWallet</key>
	<string>银联钱包，最会持家的钱包</string>
	<key>String_WechatDescription</key>
	<string>刷银联卡，享银联优惠；缴费还款，只需手指点一点。</string>
	<key>String_WechatDescriptionWallet</key>
	<string>刷银联卡，享钱包优惠；缴费还款，只需手指点一点。</string>
	<key>String_SNSDefaultMsg</key>
	<string>我刚使用了%@，非常好用。水电煤缴费、银联卡优惠信息、信用卡还款...好多功能，分享给大家%@</string>
	<key>String_SinaWeiboReferer</key>
	<string>@银联手机支付</string>
	<key>String_SinaWeiboRefererWallet</key>
	<string>@银联钱包</string>
	<key>String_URL_SMSShare</key>
	<string>http://t.cn/zWVxbGo</string>
	<key>String_URL_SMSShareWallet</key>
	<string>http://wallet.95516.net/v2/web/app/</string>
	<key>String_PersonalMsgDetial</key>
	<string>信息详情</string>
	<key>String_PersonalMessages</key>
	<string>我的消息</string>
	<key>String_MsgIsEmptyDetail</key>
	<string>目前没有消息内容</string>
	<key>String_RemindListEmptyDetail</key>
	<string>目前没有提醒内容</string>
	<key>String_RemindEdit</key>
	<string>提醒日设置</string>
	<key>kStrSave</key>
	<string>保存</string>
	<key>Array_RemindDays</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
		<string>16</string>
		<string>17</string>
		<string>18</string>
		<string>19</string>
		<string>20</string>
		<string>21</string>
		<string>22</string>
		<string>23</string>
		<string>24</string>
		<string>25</string>
		<string>26</string>
		<string>27</string>
		<string>28</string>
	</array>
	<key>String_Type</key>
	<string>类型</string>
	<key>String_Active</key>
	<string>启用</string>
	<key>String_RemindUnactive</key>
	<string>已关闭</string>
	<key>String_RemindActive</key>
	<string>已开启</string>
	<key>String_PersonalSettings</key>
	<string>个人设置</string>
	<key>Array_SecurityQuestions</key>
	<array>
		<string>请选择安全问题</string>
		<string>您最熟悉的好友的名字是？</string>
		<string>您最喜欢的玩具是什么？</string>
		<string>对您影响最大的人是？</string>
		<string>您父亲的姓名是？</string>
		<string>您父亲的生日是？</string>
		<string>您母亲的姓名是？</string>
		<string>您母亲的生日是？</string>
		<string>您配偶的姓名是？</string>
		<string>您配偶的生日是？</string>
		<string>您所在的公司是？</string>
		<string>自定义安全问题</string>
	</array>
	<key>String_Logout</key>
	<string>退出登录</string>
	<key>String_PersonalHeader</key>
	<string>头像</string>
	<key>String_PersonalSerInfo</key>
	<string>欢迎语设置</string>
	<key>String_PersonalPhoneSet</key>
	<string>手机号码修改</string>
	<key>String_PersonalPasswordSet</key>
	<string>登录密码修改</string>
	<key>String_PersonalQuestionSet</key>
	<string>安全问题设置</string>
	<key>String_PersonalPatternSet</key>
	<string>手势密码设置</string>
	<key>String_delMoreReminds</key>
	<string>是否确认删除这些提醒日?</string>
	<key>String_delThisRemind</key>
	<string>是否确认删除该提醒日?</string>
	<key>Sting_RegMoblieEmpty</key>
	<string>联系手机号为空</string>
	<key>String_TakePhoto</key>
	<string>拍照</string>
	<key>String_FromAlbum</key>
	<string>从相册中选择</string>
	<key>String_IfUserLogout</key>
	<string>退出登录？</string>
	<key>String_Required</key>
	<string>必填</string>
	<key>String_NewMoblieNum</key>
	<string>新手机号</string>
	<key>String_OldMobileNumError</key>
	<string>原始手机号码格式不正确</string>
	<key>String_SecurityQuestionUpdateSucceed</key>
	<string>安全问题修改成功</string>
	<key>String_SecurityAnswer</key>
	<string>问题答案</string>
	<key>String_SecurityQuestion</key>
	<string>安全问题</string>
	<key>String_EnterCustomSecurity</key>
	<string>请输入自定义安全问题</string>
	<key>String_EnterLoginPassword</key>
	<string>请输入登录密码</string>
	<key>String_SecurityQuestionSetSucceed</key>
	<string>安全问题设置成功</string>
	<key>String_SecurityQuestionNewUpdateErrorTextTip</key>
	<string>新安全问题格式不正确</string>
	<key>String_SecurityAnswerNewUpdateErrorTextTip</key>
	<string>新安全答案格式不正确</string>
	<key>String_SecurityAnswerUpdateErrorTextTip</key>
	<string>原安全答案格式不正确</string>
	<key>String_SecurityQuestionErrorTip</key>
	<string>安全问题格式不正确</string>
	<key>String_SecurityAnswerErrorTip</key>
	<string>安全答案格式不正确</string>
	<key>String_WelcomeTextErrorTip</key>
	<string>页面欢迎语格式不正确</string>
	<key>String_WelcomeTextIsNilTip</key>
	<string>页面欢迎语不能为空</string>
	<key>String_NewMobileNumError</key>
	<string>新手机号码格式不正确</string>
	<key>String_LoginPasswordSet</key>
	<string>修改登录密码</string>
	<key>String_OldPassword</key>
	<string>当前密码</string>
	<key>String_CardNum</key>
	<string>尾号</string>
	<key>String_NewPassword</key>
	<string>新登录密码</string>
	<key>String_EnterPasswordAgain</key>
	<string>再输入一次</string>
	<key>String_PasswordIsIllegal</key>
	<string>密码必须由6到16位的数字、字母及字符组合或纯字符，不包含空格。</string>
	<key>String_EnterCharCount</key>
	<string>可输入%d个字</string>
	<key>String_MoreThanMax</key>
	<string>请不要超过%@个字</string>
	<key>String_Security_info</key>
	<string>写一句每次登录都能看到的欢迎语吧，最少2个字哦～</string>
	<key>String_Security_infoMin</key>
	<string>最少2个字哦～</string>
	<key>String_RemingPhone</key>
	<string>手机号</string>
	<key>String_NoMore</key>
	<string>没有更多了...</string>
	<key>String_PatternLockString</key>
	<string>手势密码</string>
	<key>String_ModifyPattern</key>
	<string>修改手势密码</string>
	<key>kEnterHomeButtonTitle</key>
	<string>立即体验</string>
	<key>String_NoPhoto</key>
	<string>没有摄像头</string>
	<key>String_UserName</key>
	<string>登录名</string>
	<key>String_SetPattern</key>
	<string>设置手势密码</string>
	<key>String_MonthForDay</key>
	<string>每月%d日</string>
	<key>String_MyRemind</key>
	<string>我的提醒</string>
	<key>String_Guide_Title0</key>
	<string>优惠礼遇</string>
	<key>String_Guide_Title1</key>
	<string>生活服务</string>
	<key>String_Guide_Content0</key>
	<string>刷银联卡，享钱包优惠。</string>
	<key>String_Guide_Content1</key>
	<string>缴费还款，只需手指点一点。</string>
	<key>String_Guide_Title</key>
	<string>立即体验</string>
	<key>String_MobileBuss</key>
	<string>运营商</string>
	<key>String_MobileRecharge</key>
	<string>充值金额</string>
	<key>String_MobileRecharge_PhoneNumberInvalid</key>
	<string>手机号码格式不正确</string>
	<key>String_AB_Privacy_Warning</key>
	<string>请在”设置-隐私-通讯录”选项中，选择允许%@访问你的通讯录。</string>
	<key>String_OldPhoneNum</key>
	<string>原手机号码</string>
	<key>String_NewPhoneNum</key>
	<string>新手机号码</string>
	<key>String_HotBillWrongArg</key>
	<string>缺少必要参数</string>
	<key>String_LoginAgain</key>
	<string>重新登录</string>
	<key>String_ApplicationNotSupport</key>
	<string>目前不支持该应用</string>
	<key>String_SetPatternPwdTitle</key>
	<string>设置手势密码</string>
	<key>kBtnSubmit</key>
	<string>提交</string>
	<key>kStrStarFood</key>
	<string>口味</string>
	<key>kStrStarEnv</key>
	<string>环境</string>
	<key>kStrStarService</key>
	<string>服务</string>
	<key>kStrStarPopularity</key>
	<string>人气</string>
	<key>kStrUserRatingPlaceHolder</key>
	<string>请写下您对该商户的评价...</string>
	<key>kStrUserRatingMin5</key>
	<string>评论内容不能少于5个字，请您继续输入。</string>
	<key>kStrUserRatingMax200</key>
	<string>评论内容不能多于200个字，您可以分段多次提交。</string>
	<key>kStrUserRatingSuccess</key>
	<string>谢谢您的点评。</string>
	<key>String_LogOut</key>
	<string>正在退出...</string>
	<key>String_No_Order</key>
	<string>您目前没有交易订单</string>
	<key>String_Skip</key>
	<string>跳过</string>
	<key>String_Cost_Trend</key>
	<string>半年花销分析</string>
	<key>String_CityListSearchNoResult</key>
	<string>无结果</string>
	<key>StrDefaultSecurityInfo</key>
	<string>为保障账户安全，请设置欢迎语。</string>
	<key>StrSearchNoContent</key>
	<string>没有找到符合条件的优惠</string>
	<key>String_OpenThePrivilegeOfCamera</key>
	<string>请打开本应用的摄像头权限</string>
	<key>kStrUnitYuan</key>
	<string>元</string>
	<key>String_QrNote</key>
	<string>您扫描的不是标准的银联二维码</string>
	<key>String_NoMessage</key>
	<string>暂无消息</string>
	<key>String_NoReminds</key>
	<string>暂无提醒</string>
	<key>String_PayAllAmount</key>
	<string>总支出： %.2f元</string>
	<key>String_NoOrder</key>
	<string>暂无订单</string>
	<key>String_PaySuccess</key>
	<string>交易成功</string>
	<key>StrTicketScene</key>
	<string>001</string>
	<key>StrNearestSearchingHistory</key>
	<string>最近搜索</string>
	<key>StrNoDeductionRecordTitle</key>
	<string>暂无积分返现</string>
	<key>StrNoDeductionRecordContent</key>
	<string>去支持商户体验下吧</string>
	<key>StrDeductionDetail</key>
	<string>您可使用银联积分%@分，返现后会将消费金额的%@元返还到您的银行卡。</string>
	<key>StrBankAccountName</key>
	<string>银行开户姓名</string>
	<key>StrNoMoreUPPoint</key>
	<string>您的可使用银联积分为0</string>
	<key>StrInputAccountName</key>
	<string>请填写您的银行开户姓名</string>
	<key>StrNoCostRecordTitle</key>
	<string>暂无交易记录</string>
	<key>StrCurrentMonth</key>
	<string>本月</string>
	<key>StrToDeduct</key>
	<string>我要返现</string>
	<key>StrNotBeingDeducting</key>
	<string>未返现</string>
	<key>StrBeingDeducting</key>
	<string>处理中</string>
	<key>StrDeductSucceed</key>
	<string>返现成功 %@积分</string>
	<key>StrDeductFailed</key>
	<string>返现失败</string>
	<key>StrUnknownDeductState</key>
	<string>未知状态</string>
	<key>StrNoCostRecordCurMon</key>
	<string>本月暂无交易记录</string>
	<key>StrIncome</key>
	<string>收入：%@元</string>
	<key>StrExpense</key>
	<string>支出：%@元</string>
	<key>StrLoadingMore</key>
	<string>点击加载更多</string>
	<key>StrLoading</key>
	<string>加载中</string>
	<key>StrLoadingSucceed</key>
	<string>加载完成</string>
	<key>StrNoContentAllPointTitle</key>
	<string>暂无积分记录</string>
	<key>StrNoContentOutPointTitle</key>
	<string>暂无积分使用记录</string>
	<key>StrNoContentInPointTitle</key>
	<string>暂无积分获取记录</string>
	<key>kStrMyCoupon</key>
	<string>我的票券</string>
	<key>kStrMyPoint</key>
	<string>我的积分</string>
	<key>kStrMyMerchant</key>
	<string>收藏的商户</string>
	<key>kStrMyOrder</key>
	<string>我的订单</string>
	<key>kStrMyReminder</key>
	<string>账单提醒</string>
	<key>kStrMyMessage</key>
	<string>系统消息</string>
	<key>StrNoContentMyPointTitle</key>
	<string>暂无记录</string>
	<key>String_All_Months</key>
	<string>全部月份</string>
	<key>String_DeleteUserDataFailed</key>
	<string>删除用户数据失败，</string>
	<key>String_NoIllegalOrder</key>
	<string>没有符合条件的订单</string>
	<key>String_PromptOpenLocationSwitch</key>
	<string>请在[系统设置]中打开定位开关</string>
	<key>String_PromptNoATM</key>
	<string>附近没有ATM</string>
	<key>String_BandCardDeleteForbidden</key>
	<string>绑定卡无法删除</string>
	<key>String_AddNewMobileAccount</key>
	<string>给其他手机号充值</string>
	<key>String_AddNewBankAccount</key>
	<string>给其他信用卡还款</string>
	<key>String_AddNewAccount</key>
	<string>添加新账单</string>
	<key>String_CreditCardMinPay</key>
	<string>还款金额不应低于%d元</string>
	<key>String_HistoryMoibleNum</key>
	<string>手机号码－%@</string>
	<key>String_HistoryCompanyNum</key>
	<string>户号－%@</string>
	<key>String_HistoryBandCard</key>
	<string>绑定卡</string>
	<key>String_AppVersion</key>
	<string>版本：v%@</string>
	<key>String_AppUpgrade</key>
	<string>版本更新</string>
	<key>String_AppIntroduction</key>
	<string>版本说明</string>
	<key>String_CallHelp</key>
	<string>客服电话</string>
	<key>String_AppCanUpgrade</key>
	<string>更新</string>
	<key>String_AppNewestVersion</key>
	<string>已经是最新版本了</string>
	<key>String_VerifyPhoneFailedMsg</key>
	<string>手机验证失败，您的手机号可能已被其他用户注册使用，您可致电%@客服注销该冲突账户。</string>
	<key>String_AppPushSettingSpec</key>
	<string>如果您要开启或关闭消息通知，请在系统“设置”-“通知”功能中，找到应用程序“%@”进行更改。</string>
	<key>String_AppPushSettingOn</key>
	<string>已开启</string>
	<key>String_AppPushSettingOff</key>
	<string>已关闭</string>
	<key>String_AppClearPrivateData</key>
	<string>删除自定义的生活应用失败 %@</string>
	<key>String_AppClearPrivateDataSucc</key>
	<string>清理成功</string>
	<key>String_NoMoreFootPrintData</key>
	<string>没有更多数据了。</string>
	<key>String_AuthenCard</key>
	<string>认证银行卡，即可开通此服务</string>
	<key>String_NoMyFootPrint</key>
	<string>暂无我的足迹</string>
	<key>String_NoMyHuaXiao</key>
	<string>暂无我的花销记录</string>
	<key>String_NoMyCostRecode</key>
	<string>暂无我的交易记录</string>
	<key>String_FootPrintDetailPage</key>
	<string>足迹详情</string>
	<key>String_CostPrefer</key>
	<string>消费偏好</string>
	<key>String_TransStatus</key>
	<string>消费状态</string>
	<key>String_TransBankCardNumber</key>
	<string>交易卡号</string>
	<key>String_TransMoney</key>
	<string>交易金额</string>
	<key>String_TransBizName</key>
	<string>商户名称</string>
	<key>String_TransChannel</key>
	<string>交易渠道</string>
	<key>String_TransMobilePos</key>
	<string>移动POS</string>
	<key>kStrTransTime</key>
	<string>交易时间</string>
	<key>String_TransAddr</key>
	<string>交易地址</string>
	<key>String_TransBizType</key>
	<string>商户类型</string>
	<key>String_CostOthers</key>
	<string>其他</string>
	<key>String_CostFood</key>
	<string>美食</string>
	<key>String_CostTravel</key>
	<string>出行</string>
	<key>String_CostShopping</key>
	<string>购物</string>
	<key>String_CostDailyLife</key>
	<string>生活</string>
	<key>String_CostFunny</key>
	<string>娱乐</string>
	<key>String_CostOnline</key>
	<string>网购</string>
	<key>String_TransSuccess</key>
	<string>成功</string>
	<key>String_VerifyCodeInvalid</key>
	<string>您输入的验证码已失效，请重新获取！</string>
	<key>String_ServerBusyNow</key>
	<string>卡住了...您休息一会再来吧~</string>
	<key>String_DownloadNeedVerifyYourPhone</key>
	<string>下载优惠券需验证手机号码，是否立即验证？</string>
	<key>String_Verify</key>
	<string>验证</string>
	<key>String_VerifyPhoneNum</key>
	<string>验证手机号</string>
	<key>String_VerifyPhoneNumSuccess</key>
	<string>验证成功</string>
	<key>String_PasswordPlaceholder</key>
	<string>6-16位数字与字母组成</string>
	<key>String_InputSafeQuestion</key>
	<string>请选择安全问题</string>
	<key>String_GoodFriends</key>
	<string>您最熟悉的好友的名字是？</string>
	<key>String_LikeToys</key>
	<string>您最喜欢的玩具是什么？</string>
	<key>String_MostInfluencePerson</key>
	<string>对您影响最大的人是？</string>
	<key>String_FatherName</key>
	<string>您父亲的姓名是？</string>
	<key>String_FatherBirthday</key>
	<string>您父亲的生日是？</string>
	<key>String_MotherName</key>
	<string>您母亲的姓名是？</string>
	<key>String_MotherBirthday</key>
	<string>您母亲的生日是？</string>
	<key>String_SpouseName</key>
	<string>您配偶的姓名是？</string>
	<key>String_SpouseBirthday</key>
	<string>您配偶的生日是？</string>
	<key>String_YourCompany</key>
	<string>您所在的公司是？</string>
	<key>String_CustomQuestion</key>
	<string>自定义安全问题</string>
	<key>String_TrendAnalysis</key>
	<string>趋势分析</string>
	<key>String_FeaturesIntroduction</key>
	<string>功能介绍</string>
	<key>String_MobileChongZhi</key>
	<string>手机充值</string>
	<key>kStrConfirmDel</key>
	<string>确认删除？</string>
	<key>String_ATMSearchFail</key>
	<string>ATM检索失败</string>
	<key>String_ATMPrompt</key>
	<string>附近ATM</string>
	<key>String_CommercialTenant</key>
	<string>商户</string>
	<key>String_deleting</key>
	<string>正在删除</string>
	<key>String_ATMBank</key>
	<string>银行</string>
	<key>String_ATMChinaBank</key>
	<string>中国银行</string>
	<key>String_CreditRepayCardNumber</key>
	<string>信用卡卡号</string>
	<key>String_CreditRepayMinMoney</key>
	<string>最低还款金额%d元</string>
	<key>kBtnCommunity</key>
	<string>社区</string>
	<key>String_PageType</key>
	<string>page</string>
	<key>String_ProductType</key>
	<string>product</string>
	<key>String_HomeFruitPageSize</key>
	<string>6</string>
</dict>
</plist>
